.custom-bg {
    color: #ffffff;
    border: 1px solid #b07a44;
    background-color: #b07a44;
    border-radius: 3px;
    font-family: Geometria;
    font-weight: 500;
}

.backGround {
    background-color: #128C7E;
}

.custom-bg {
    font-family: inherit;
}

.custom-bg:hover {
    background-color: #e4ded2;
    color: #806729;
    border-color: #e4ded2;
}

.flexCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modal-body p {
    text-align: center;
}
.navbar-nav a{
    color: white;
    padding: 0 10px;
    transition: 1s;
}
.navbar-nav a:hover{
    text-decoration:none;
    color: #a9a991;
}